.prob{
    margin-top: -10rem;
}
#container {
display: flex;
justify-content: center;
height:300px;
width:90%;
margin: 100px auto;
}
/*Spheres*/
.ldng{
border-radius:50%;
width: 100px;
height:100px;
box-shadow: 1px 7px 20px 1px, 1px -7px 20px 1px inset;
}   
.red{
background-color: red;
animation: zoomMe 2.1s 0.7s ease-out infinite;
}
.blue{
background-color: blue;
animation: zoomMe 2.1s 1.4s ease-out infinite;
}
.yellow{
background-color: yellow;
animation: zoomMe 2.1s 2.1s ease-out infinite;
}
/*Spheres animation*/
@keyframes zoomMe {
/*sphere initial position in left*/
0%{
    transform: scale(1);
    left:40%;
    top:100px;
    position: absolute;
    z-index:1;
    order: 1;
}
/*move sphere to front center and enlarge it*/
25%{
    transform: scale(1.5);
    left:45%;
    top:150px;
    position: absolute;
    z-index:10;
    order: 1;
}
/*move sphere to right and set it initial size*/
50%{
    transform: scale(1);
    left:55%;
    top:100px;
    position: absolute;
    z-index:1;
    order: 3;
}
/*move sphere back*/
75%{
    transform: scale(1);
    position: initial;
    left:45%;
    top:100px;
    order: 2;
}
/*move sphere to initial position*/
100%{
    left:30%;
}
}

