.prob{ margin-top: -1rem; }
body, html {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}
body {
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.container {
position: relative;
width: 400px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}
.loader_1, .loader_2 {
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(20deg);
z-index: 20;
}
.loader_1-item, .loader_2-item {
position: relative;
width: 15px;
height: 15px;
border-radius: 50%;
background: #fff;
margin: 5px;
animation: animate 4s linear infinite;
}
.loader_1-item {
box-shadow: 0 0 2px #18594C;
background: #18594C;
opacity: 0.8;
}
.loader_2-item {
box-shadow: 0 0 2px #87C359;
background: #87C359;
opacity: 0.8;
}
.loader_3 {
position: absolute;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: rotate(20deg);
z-index: 10;
}
.loader_3-item {
width: 30px;
height: 3px;
background: #fff;
box-shadow: 0 0 2px #fff;
margin: 11px;
opacity: 0.8;
animation: width 2s linear infinite;
}
.loader_1-item:nth-child(1) {
animation-delay: -0.1s;
}
.loader_1-item:nth-child(2) {
animation-delay: -0.2s;
}
.loader_1-item:nth-child(3) {
animation-delay: -0.3s;
}
.loader_1-item:nth-child(4) {
animation-delay: -0.4s;
}
.loader_1-item:nth-child(5) {
animation-delay: -0.5s;
}
.loader_1-item:nth-child(6) {
animation-delay: -0.6s;
}
.loader_1-item:nth-child(7) {
animation-delay: -0.7s;
}
.loader_1-item:nth-child(8) {
animation-delay: -0.8s;
}
.loader_2-item:nth-child(1) {
animation-delay: -2.1s;
}
.loader_2-item:nth-child(2) {
animation-delay: -2.2s;
}
.loader_2-item:nth-child(3) {
animation-delay: -2.3s;
}
.loader_2-item:nth-child(4) {
animation-delay: -2.4s;
}
.loader_2-item:nth-child(5) {
animation-delay: -2.5s;
}
.loader_2-item:nth-child(6) {
animation-delay: -2.6s;
}
.loader_2-item:nth-child(7) {
animation-delay: -2.7s;
}
.loader_2-item:nth-child(8) {
animation-delay: -2.8s;
}
.loader_3-item:nth-child(1) {
animation-delay: -0.1s;
}
.loader_3-item:nth-child(2) {
animation-delay: -0.2s;
}
.loader_3-item:nth-child(3) {
animation-delay: -0.3s;
}
.loader_3-item:nth-child(4) {
animation-delay: -0.4s;
}
.loader_3-item:nth-child(5) {
animation-delay: -0.5s;
}
.loader_3-item:nth-child(6) {
animation-delay: -0.6s;
}
.loader_3-item:nth-child(7) {
animation-delay: -0.7s;
}
.loader_3-item:nth-child(8) {
animation-delay: -0.8s;
}
@keyframes animate {
0% {
    transform: translateX(0);
}
25% {
    transform: translateX(25px);
}
50% {
    transform: translateX(0);
}
75% {
    transform: translateX(-25px);
}
100% {
    transform: translateX(0);
}
}
@keyframes width {
0% {
    width: 2px;
}
50% {
    width: 20px;
}
100% {
    width: 2px;
}
}

